<!DOCTYPE html>
<head>
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}
{% load static %}    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="{% static 'src/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'src/jQuery/jquery-2.0.0.js' %}"></script> 
    <script src="{% static 'src/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'src/Leaflet.awesome-markers-2.0/dist/leaflet.awesome-markers.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'src/leaflet/leaflet.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/bootstrap-3.3.7/css/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'src/Leaflet.awesome-markers-2.0/dist/leaflet.awesome-markers.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7798433063dbaea2419d498d13292a29 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7798433063dbaea2419d498d13292a29" ></div>
        
</body>
<script>    
    
            var map_7798433063dbaea2419d498d13292a29 = L.map(
                "map_7798433063dbaea2419d498d13292a29",
                {
                    center: [19.82428656395216, 110.74095323061883],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_863e1d9380ccb03320d916050ead5f35 = L.tileLayer(
                "http://webrd02.is.autonavi.com/appmaptile?lang=zh_cn\u0026size=1\u0026scale=1\u0026style=8\u0026x={x}\u0026y={y}\u0026z={z}",
                {"attribution": "default", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7798433063dbaea2419d498d13292a29);
        
</script>